<div class="row step-title">
  <div class="col-md-8 wow fadeInUp">
    <h3 id="step4-title"><%= @phase.name %></h3>
  </div>
  <div class="col-md-4 text-center wow zoomInDown" data-wow-delay="0.5s" id="done_button_step4">
    <%= render partial: 'leads/show/step4/lead_done_button'%>
  </div>
</div>
<div class="row">
  <div class="col-md-8" id="deposit_details">
    <%= render partial: 'leads/show/step4/selected_properties' %>
  </div>
  <div class="col-md-4" id="status_updates_step4">
    <%= render partial: 'leads/show/step4/status_updates' %>
  </div>
</div>
