<th scope="row" class="wow fadeIn">Price</th>
<td>
  <%= form_with model: @property, url: editors_editor_update_properties_path(id: @property) do |f| %>
    <div class="col-md-6">
      <%= f.number_field :premium, in: 0..1000000, step: 100, placeholder: "Enter premium amount", class: "form-control editor wow fadeIn", "data-wow-delay" => "0.2s" %>
    </div>
    <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s" style="padding: 0px; display: inline-flex;">
      <%= f.submit 'Cancel', name: 'editor_cancel_update', class: 'btn btn-secondary btn-block editor wow fadeIn', id: "btnCancel", style: 'margin: 0 5px;', "data-wow-delay" => "0.3s" %>
      <div class="actions">
        <%= button_tag(:name => "editor_update_property", :class => "btn btn-form editor wow fadeIn", :id => "btnSubmit", "data-wow-delay" => "0.4s" ) do %>
          Save
        <% end %>
      </div>
    </div>
  <% end %>
</td>
<td></td>

<script>
  $('#btnSubmit, #btnCancel').click(function() {
    $("#spinner").fadeIn('slow');
    $("#spinner").click(function(){
      $("#spinner").hide();
    })
  });
</script>
