<textarea id="share_bar" class="share_bar" rows="1"><%= @property_ranked.share_with_owner %></textarea>
<button class="btn btn-form btn-normal clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#share_bar">
    <i class="fab fa-whatsapp"></i> Copy to share
</button>
