<div class="table-responsive" id="leads_list">
  <table class="table table-striped">
    <thead>
      <%= render partial: "leads/index/sorting" %>
    </thead>
    <tbody>
      <%= render partial: "leads/index/leads_list" %>
    </tbody>
  </table>
</div>
