<section id="internal-hero">
  <div class="hero-container" style="background-image: url(<%= randomized_internal_header_image %>); background-position: top;">
  </div>
</section>
<main>
  <section class="header wow fadeInUp" style="padding: 60px 0 60px 0;">
    <div class="container">
      <div class="row">
        <div class="section-header">
          <h3>Notifications</h3>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="notifications">
        <%= render @notifications %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center" id="pagination" style="padding: 0 0 60px 0;">
        <%= render partial: "notifications/pagination" %>
      </div>
    </div>
  </div>
</main>

<script>
  $('.pagination a').click(function() {
    $("#spinner").fadeIn('slow');
    $("#spinner").click(function(){
      $("#spinner").hide();
    });
  });
</script>
