<section id="internal-hero">
  <div class="hero-container" style="background-image: url(<%= randomized_internal_header_image %>); background-position: top;">
  </div>
</section>

<main class="main">
  <div class="container">
    <%= render partial: 'search/search_properties' %>
  </div>
</main>
