<% if lead_property.contract_signed == true %>
  <%= link_to update_contract_info_lead_path(lead_property_id: lead_property.id, property_id: lead_property.property_id, contract_stage: 'contract_signed', contract_stage_value: false), class: "centralized", method: :patch, remote: true do %><span class="edit-button done done-icon" title="Mark as true"></span>Contract signed<% end %>
<% else %>
  <%= link_to update_contract_info_lead_path(lead_property_id: lead_property.id, property_id: lead_property.property_id, contract_stage: 'contract_signed', contract_stage_value: true), class: "centralized", method: :patch,  remote: true do %><span class="edit-button green deposit-icon" title="Mark as false"></span>Contract signed<% end %>
<% end %>
