<% if lead_property.commission_paid == true %>
  <%= link_to update_contract_info_lead_path(lead_property_id: lead_property.id, property_id: lead_property.property_id, contract_stage: 'commission_paid', contract_stage_value: false), class: "centralized", method: :patch, remote: true do %><span class="edit-button done done-icon" title="Mark as true"></span>Commission paid<% end %>
<% else %>
  <%= link_to update_contract_info_lead_path(lead_property_id: lead_property.id, property_id: lead_property.property_id, contract_stage: 'commission_paid', contract_stage_value: true), class: "centralized", method: :patch,  remote: true do %><span class="edit-button green-purple deposit-icon" title="Mark as false"></span>Commission paid<% end %>
<% end %>
