<div class="hero-container" style="background-image: url(<%= randomized_header_image %>); background-position: top center; background-repeat: no-repeat; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="padding-top: 12rem;">
        <div class="panel panel-default wow fadeInUp">
          <div class="panel-body">
            <section id="contact">
              <%= render partial: 'contact' %>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
