<div class="col-md-12">
  <p class="lead-date fadeIn" style="padding: 30px 0;">Lead created on: <b><%= @lead.created_at.to_date.strftime("%d/%m/%Y") %></b> | Last updated on: <b><%= @lead.updated_at.to_date.strftime("%d/%m/%Y") %></b></p>
</div>
