<div class="col-md-8 wow fadeInUp" data-wow-delay="0.2s">
  <% if !@lead.description.blank? %>
    <p class="editable" id="edit_description" data-description="description"><%= @lead.description %></p>
  <% else %>
    <p class="editable" id="edit_description" data-description="description">Add a summary about the client »</p>
  <% end %>
</div>

<script>
  jQuery(document).ready(function( $ ) {

    $("#edit_description").one("click", this, function(){
      var leadId = "<%= @lead.id.to_i %>"
      $(this).removeClass("editable");
      $(this).load("/leads/edit_field?attribute=description&lead_id=" + leadId);
    });
  });
</script>
