<div class="modal fade bd-example-modal-lg" id="owner-modal" tabindex="-1" role="dialog" aria-labelledby="OwnerDetailsModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="owner_details">
    </div>
  </div>
</div>
<script>
  $('#owner-modal').on('shown.bs.modal', function () {
    $('#owner-details-button').trigger('focus')
  });
</script>
