<div class="modal fade bd-example-modal-sm" id="editor_new_property" tabindex="-1" role="dialog" aria-labelledby="EditorNewPropertyModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="editor_modal_new_property">
    </div>
  </div>
</div>
