<div class="modal fade bd-example-modal-sm" id="editor_edit_owner_details" tabindex="-1" role="dialog" aria-labelledby="EditorEditPropertyModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="editor_modal_edit_owner_details">
    </div>
  </div>
</div>
